@media (max-width: 1700px) {
  #skils .wrap h1, #services .wrap h1, #about .wrap h1 {
    font-size: 35px;
  }
  #projects .wrap h2, #contact .wrap h2 {
    font-size: 35px;
  }
  #contact .wrap .omotac #formContact ::-webkit-input-placeholder {
    font-size: 22px;
  }
  #contact .wrap .omotac #formContact :-ms-input-placeholder {
    font-size: 22px;
  }
  #contact .wrap .omotac #formContact ::-ms-input-placeholder {
    font-size: 22px;
  }
  #contact .wrap .omotac #formContact ::placeholder {
    font-size: 22px;
  }
  #contact .wrap .omotac #formContact #imePrezime, #contact .wrap .omotac #formContact #email, #contact .wrap .omotac #formContact #potvrdi, #contact .wrap .omotac #formContact #reset {
    height: 45px;
  }
  #contact .wrap .omotac #formContact #napomena {
    height: 150px;
  }
  #contact .wrap .omotac #formContact #buttons #potvrdi, #contact .wrap .omotac #formContact #buttons #reset {
    height: 45px;
    font-size: 22px;
  }
  #contact .wrap .omotac #lokacija {
    height: 100%;
  }
  #contact .wrap .omotac #lokacija iframe {
    height: 300px;
  }
}

@media (max-width: 1025px) {
  #about .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .wrap .omotac #textAbout {
    width: 50%;
    margin-bottom: 30px;
  }
  #about .wrap .omotac #textAbout p {
    width: 80%;
  }
  #about .wrap .omotac #photoMe {
    width: 50%;
  }
  #about .wrap .omotac #photoMe img {
    width: 80%;
  }
  #skils .wrap {
    width: 100%;
  }
  #skils .wrap .omotac .skil {
    margin: 10px;
  }
  #services .wrap {
    width: 100%;
  }
  #services .wrap .omotac .skil {
    margin: 10px;
  }
}

@media (max-width: 1025px) and (max-width: 860px) {
  header .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .wrap #logo {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  header .wrap nav #navigacija {
    margin-top: 0px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .wrap nav #navigacija li {
    margin-top: 0px;
  }
  header .wrap nav #navigacija li:last-of-type {
    margin: 0px;
    margin-left: 5px;
  }
  #skils .wrap {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #skils .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #skils .wrap .omotac .skil {
    width: 40%;
  }
  #skils .wrap .omotac .skil .skilIcon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #skils .wrap .omotac .skil .skilText {
    font-size: 19px;
  }
  #services .wrap {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #services .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #services .wrap .omotac .service {
    width: 40%;
  }
  #services .wrap .omotac .service .sericeIcon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #services .wrap .omotac .service .serviceText {
    font-size: 19px;
  }
  #contact .wrap {
    width: 100%;
  }
  #about .wrap {
    width: 95%;
  }
  #about .wrap .omotac #photoMe {
    width: 50%;
    margin-bottom: 35px;
  }
  #about .wrap .omotac #photoMe img {
    width: 60%;
  }
  #about .wrap .omotac #textAbout h3 {
    font-size: 20px;
  }
  #about .wrap .omotac #textAbout p {
    font-size: 19px;
  }
  #projects .wrap {
    width: 95%;
  }
  #projects .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #projects .wrap .omotac .project {
    width: 80%;
  }
}

@media (max-width: 1025px) and (max-width: 769px) {
  header {
    width: 100%;
  }
  header .wrap {
    width: 90%;
  }
  header .wrap #logo {
    height: 60%;
  }
  header .wrap nav #navigacija li a {
    font-size: 19px;
  }
  #about .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .wrap .omotac #textAbout {
    width: 90%;
    margin-bottom: 30px;
  }
  #about .wrap .omotac #photoMe {
    width: 60%;
    margin-bottom: 30px;
  }
  #projects .wrap {
    height: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .wrap .omotac .project .projectPicture img {
    -webkit-filter: none;
            filter: none;
  }
}

@media (max-width: 1025px) and (max-width: 640px) {
  header .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .wrap #logo {
    font-size: 30px;
  }
  header .wrap nav #navigacija {
    margin-top: 0px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .wrap nav #navigacija li {
    margin-top: 0px;
  }
  header .wrap nav #navigacija li:last-of-type {
    margin: 0px;
    margin-left: 5px;
  }
  #skils .wrap .omotac .skil .skilIcon i {
    font-size: 60px;
  }
  #skils .wrap .omotac .skil .skilText {
    font-weight: 700;
    font-size: 20px;
  }
}

@media (max-width: 1025px) {
  #services .wrap .omotac .service .sericeIcon {
    height: 60px;
  }
  #services .wrap .omotac .service .serviceText {
    font-weight: 700;
    font-size: 20px;
  }
  #about .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .wrap .omotac #textAbout {
    width: 90%;
    margin-bottom: 30px;
  }
  #about .wrap .omotac #textAbout p {
    font-size: 18px;
  }
  #about .wrap .omotac #photoMe {
    width: 60%;
  }
  #projects .wrap {
    height: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .wrap .omotac .project {
    width: 100%;
  }
  #projects .wrap .omotac .project .projectPicture {
    width: 100%;
  }
  #contact .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contact .wrap .omotac #formContact {
    width: 90%;
  }
  #contact .wrap .omotac #lokacija {
    width: 90%;
    margin-bottom: 30px;
  }
  footer .wrap #social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1025px) and (max-width: 481px) {
  header {
    position: relative;
  }
  header .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .wrap #logo a {
    font-size: 25px;
  }
  header .wrap nav #navigacija {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .wrap nav #navigacija li {
    border: none;
    padding: 3px;
  }
  header .wrap nav #navigacija li:last-of-type {
    margin-top: 0px;
  }
  header .wrap nav #navigacija li a {
    font-size: 20px;
    margin-bottom: 7px;
  }
  #baner .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0px;
    font-size: 27px;
  }
  #baner .wrap #tekst h1, #baner .wrap #tekst h2 {
    text-align: center;
    font-size: 23px;
  }
  #skils .wrap {
    height: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #skils .wrap h1 {
    font-size: 24px;
  }
  #skils .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skils .wrap .omotac .skil {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  #skils .wrap .omotac .skil:last-of-type {
    margin-bottom: 30px;
  }
  #skils .wrap .omotac .skil .skilIcon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #skils .wrap .omotac .skil .skilText {
    font-size: 17px;
  }
  #about .wrap h1 {
    font-size: 24px;
  }
  #about .wrap .omotac #photoMe img {
    width: 80%;
  }
  #about .wrap .omotac #textAbout h3 {
    font-size: 18px;
  }
  #about .wrap .omotac #textAbout p {
    font-size: 17px;
  }
  #services .wrap {
    height: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #services .wrap h1 {
    font-size: 24px;
  }
  #services .wrap .omotac {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #services .wrap .omotac .service {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  #services .wrap .omotac .service .sericeIcon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #services .wrap .omotac .service .serviceText {
    font-size: 17px;
  }
}

@media (max-width: 1025px) {
  #projects .wrap h2 {
    font-size: 24px;
  }
  #contact .wrap h2 {
    font-size: 24px;
  }
  #contact .wrap .omotac #formContact ::-webkit-input-placeholder {
    font-size: 17px;
  }
  #contact .wrap .omotac #formContact :-ms-input-placeholder {
    font-size: 17px;
  }
  #contact .wrap .omotac #formContact ::-ms-input-placeholder {
    font-size: 17px;
  }
  #contact .wrap .omotac #formContact ::placeholder {
    font-size: 17px;
  }
  #contact .wrap .omotac #formContact #buttons #potvrdi, #contact .wrap .omotac #formContact #buttons #reset {
    font-size: 17px;
  }
  footer .wrap #copyright {
    font-size: 18px;
  }
  footer .wrap #social ul li a {
    font-size: 18px;
  }
  footer .wrap #cssSass #css a, footer .wrap #cssSass #sass a, footer .wrap #cssSass #Rcss a, footer .wrap #cssSass #Rsass a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=responsive.css.map */